<div>
  <nav>
    <%= link_to "Add Column", new_column_path %>
    <%= link_to "Add Card", new_card_path %>
    <%= link_to "All Cards", cards_path %>
  </nav>

  <div class="columns">
    <% @columns.each_with_index do |column, index| %>
      <div class="column">
        <h2><%= column.name %>(<%= column.id %>)</h2>
        <%= link_to "Edit Column", edit_column_path(column) %>
        <%= link_to "Delete Column", column_path(column), method: :delete %>
        <br>
        <% if index != 0 %>
          <%= link_to "左に移動", swap_column_path(count: index, right_left: 1), method: :patch %>
        <% end %>
        <% if @count - 1 != index %>
          <%= link_to "右に移動", swap_column_path(count: index, right_left: 0), method: :patch %>
        <% end %>
        <% column.cards.each do |card| %>
          <div class="card">
            <%= link_to card_path(card) do %>
              <h4><%= card.name %></h4>
              <p><%= card.deadline %></p>
              <% if index != 0 %>
                <%= link_to "左に移動", l_move_card_path(count: index, id: card.id), method: :patch %>
              <% end %>
              <% if @count - 1 != index %>
                <%= link_to "右に移動", r_move_card_path(count: index, id: card.id), method: :patch %>
              <% end %>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>